doctype html
html
  head
    title Add movie
    link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous")
  body
    div.container
      h1 New movie
      form(action='/addmovie', method='POST')
        div
          input(type="text", name="title", placeholder="Title").form-control.m-3
        div
          input(type="text", name="director", placeholder="Director").form-control.m-3
        div
          input(type="number", name="year", placeholder="Year").form-control.m-3
        div
          div.container
            input(type="submit", value="Add").btn.btn-primary.m-2
            |
            |
            a.btn(href='/').btn.btn-primary.m-2 Back

        